.infoContent {
    display: flex;
    flex: 1 1 0%;
    padding: 1.125rem;
    flex-wrap: wrap;
    gap: 0.85rem;
    width: 100%;
}

.infoContainer {
    display: flex;
    flex: 1 1 0%;
    border-width: 2px;
    padding: 1.125rem;
    flex-direction: column;
    gap: 0.85rem;
    width: 100%;
    min-width: 20rem;
    border-radius: 12px;
}

.infoContainer:hover {
    box-shadow: 5px 5px 5px #d1d0d0;
}

.infoLabel {
    font-size: larger;
    font-weight: 500;
    color: #333333;
}

.infoTextLabel {
    font-size: medium;
    font-weight: 400;
}

.infoText {
    font-size: medium;
    font-weight: 400;
    color: #777777
}