.infoContent {
  display: flex;
  flex: 1 1 0%;
  padding: 1.125rem;
  flex-wrap: wrap;
  gap: 0.85rem;
  width: 100%;
}

.infoContainer {
  display: flex;
  flex: 1 1 0%;
  border-width: 1px;
  border-color: ;
  padding: 1.125rem;
  flex-direction: column;
  gap: 0.85rem;
  width: 100%;
  min-width: 20rem;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #f3f3f7;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.infoContainer:hover {
  box-shadow: 5px 5px 5px #d1d0d0;
}

.infoLabel {
  font-size: 10px;
  font-weight: 600;
  color: #444444;
  line-height: 12.1px;
}

.infoTextLabel {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.8px;
}

.infoText {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
}

.sectionLabel {
  font-size: 10px;
  font-weight: 600;
  line-height: 12.1px;
}

.infoSub {
  font-size: 10px;
  font-weight: 500;
  line-height: 12.1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #666666;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
