.infoContainer {
    display: flex;
    flex: 1 1 0%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.75rem;
    height: 100%;
}

.infoBox {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-width: 1px;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    gap: 0.75rem;
    border-color: #D5D5D5;
    justify-content: start;
    height: 65dvh;
}

.physicianDetailsBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
    justify-content: start;
}

.infoBoxLabel {
    font-weight: 600;
    font-size: large;
}

.labelText {
    font-weight: 400;
    font-size: small;
}

.valueText {
    font-weight: 600;
    font-size: large;
}
