.questionnaireContainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 12px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    justify-content: end;
    gap: 8px;
}

.infoContainer {
    display: flex;
    flex: 1 1 0%;
    position: relative;
    flex-direction: column;
    border: 1px solid #90A4AE47;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.detailsLabel {
    font-weight: 400;
    font-size: 0.875rem;
}

.detailsValue {
    font-weight: 600;
    font-size: 0.875rem;
}