.header {
    position: sticky;
    top: 0;
    width: 100%;
    inset: x-0;
}

.nav{
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}

